.slider {
    overflow: hidden;
    margin: 0 #{-$indent} 50px;
    padding: 0 $indent;
    @include media(1480px) {
        margin-bottom: 100px;
        margin-left: calc(calc(100vw - #{$max-width} - 20px) / -2);
        margin-right: calc(calc(100vw - #{$max-width} - 20px) / -2);
        padding: 0 calc(calc(100vw - #{$max-width} - 20px) / 2);
    }
}
