.video-section {
    display: flex;
    justify-content: center;
    margin: 50px -30px;

    &_container {
        width: 375px;
    }

    @include tablet {
        margin: 90px 0;

        &_container {
            width: 400px;
        }
    }
}
