$img: "/img";
// $img: "/banners/orbis/img";

$bg_color: #132634;

$color: #fff;
$cDark: #253746;
$cBlue: #00A3E0;
$cLightBlue: #9ED4D6;
$cYellow: #EADA24;



$font-family: 'Alright Sans Regular', Helvetica, sans-serif;

$font-size: 24px;
$font-size__small: 18px;

$max-width: 1164px;
$indent: 30px;

// easings
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easeInOutCirc;
