%heading-1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 32px;
    @include tablet {
        font-size: 30px;
        line-height: 1;
    }
}
%heading-2 {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    margin: 50px 0;
    text-transform: uppercase;
    @include tablet {
        margin: 150px 0;
        font-size: 30px;
        line-height: 52px;
    }
}
%heading-3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 32px 0 16px;
    @include tablet {
        font-size: 21px;
        margin-bottom: 12px;
    }
}

h1,
.heading-1{
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
