body {
    background: $bg_color;
    color: $color;
    font: #{$font-size__small}/#{1.4} $font-family;
    padding: 0;
    @include tablet {
        font-size: $font-size;
    }
}

a {
    text-decoration: none;
    transition: .2s $easing color;

    &:hover,
    &.hover {
        outline: none;
    }
    &:active,
    &.active {
        outline: none;
    }
}

p {
    margin: 0 0 10px;
    @include tablet {
        margin-bottom: 18px;
    }
}

img {
    max-width: 100%;

    h3 & {
        vertical-align: middle;
        margin: 0 20px 0 0;
    }
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    min-width: 100%;
}
