@font-face {
    font-family: 'Alright Sans Regular';
    src: url('src/fonts/Alright-Sans-Regular.woff2') format('woff2'),
        url('src/fonts/Alright-Sans-Regular.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
