@font-face {
    font-family: 'Alright Sans Regular';
    src: url('src/fonts/Alright-Sans-Regular.woff2') format('woff2'),
        url('src/fonts/Alright-Sans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alright Sans Regular';
    src: url('src/fonts/Alright-Sans-Black.woff2') format('woff2'),
        url('src/fonts/Alright-Sans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Miller';
    src: url('src/fonts/Miller-Text.woff2') format('woff2'),
        url('src/fonts/Miller-Text.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
