@mixin button {
    display: inline-block;
    background: $cYellow;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    color: $cDark;
    font-weight: 900;
    font-size: 14px;
    height: 41px;
    line-height: 41px;
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    transition: .2s ease-in-out opacity;
    @include tablet {
        font-size: 20px;
        height: 74px;
        line-height: 74px;
        padding: 0 35px;
    }

    &:hover,
    &:focus {
        opacity: .6;
    }
    &:active {
        opacity: .8;
    }
    &:disabled {
        opacity: .5;
    }
}

.button,
button,
input[type="button"],
input[type="submit"] {
    @include button;
}
