.form {
    text-align: center;
    @include tablet {
        margin-bottom: 150px;
    }
    
    &_title {
        span {
            font-weight: 900;
            font-size: 24px;
            line-height: 30px;
            white-space: pre-wrap;
            background-color: $cLightBlue;
            border: 0 solid $cLightBlue;
            padding: 13px;
            @include tablet {
                font-weight: 900;
                font-size: 60px;
                line-height: 60px;
                padding: 28px;
            }
        }
        
    }
    &_row {
        margin: 0 auto 50px;
        max-width: 572px;
        @include tablet {
            margin-bottom: 80px;
        }
    }
}
