label {
    font-size: 19px;
    line-height: 30px;
    display: block;
    text-align: left;
    margin: 0 0 10px;
    text-transform: uppercase;
    @include tablet {
        font-size: 20px;
        line-height: 20px;
    }
}
