// $font-baskerville-regular: (
// 	font-family: ("baskerville-display-pt", serif),
// 	font-weight: 400
// );

// $font-baskerville-bold: (
// 	font-family: ("baskerville-display-pt", serif),
// 	font-weight: 700
// );


// @font-face {
//   font-family: 'Alright';
//   src: url('~assets/fonts/FontsFree-Net-aa1woff2-1.ttf') format('truetype');
// 	font-weight: bold;
// 	font-style: normal;
// 	font-display: swap; 
// }
@font-face {
  font-family: 'Alright';
  src: url('/fonts/FontsFree-Net-aa4woff2.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap; 
}
@font-face {
  font-family: 'Alright';
  src: url('/fonts/FontsFree-Net-aa1woff2-1.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap; 
}


$font-alright-normal: (
	font-family: ("Alright", sans-serif),
	font-weight: 400
);
$font-alright-bold: (
	font-family: ("Alright", sans-serif),
	font-weight: bold
);
// $font-alright-normal: (
// 	font-family: ("orpheuspro", sans-serif),
// 	font-weight: 400
// );

$font-default: map-merge(
	$font-alright-normal, (
		line-height: (24/16)
	)
);

$font-button: map-merge(
	$font-alright-bold, (
		font-size: rem(12),
		letter-spacing: letter-spacing(4, 12), // ((1px / font size) * letter spacing px value)
		line-height: (.8),
		text-transform: uppercase
	)
);



