.fade {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(#000, 0.65);
    opacity: 0;
    pointer-events: none;
    transition: .2s ease opacity;

    &.opened {
        opacity: 1;
        pointer-events: inherit;
    }

    &__mobile {
        @include desktop {
            display: none;
        }
    }
}
